{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if eq .Params.topic "product" }}
    <div>
      <img src="{{- .Params.image }}" alt="{{- .Title }}" style="width: 100%;">
      <table>
        <tr>
          <th>Price</th>
          <th>Description</th>
          <th>Buy Now</th>
        </tr>
        <tr>
          <td>{{ .Params.price }}</td>
          <td>{{ .Description }}</td>
          <td><a class="button" href="{{ .Params._link }}">Click</a></td>
        </tr>
      </table>
    </div>
    {{- else if .Description }}
    <div class="post-description">
      {{ .Description }}&nbsp;
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden
  }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{ .Content }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <h3>See Also</h3>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    <br>
    <br>
    <h4>Share this Post:</h4>
    {{- partial "share_icons.html" . -}}
    <br><br>
    {{- end }}
  </footer>
  {{- end }}
  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}