/* This file I cannot figure out where to 
put/name it to be accepted by the template,
 so it is copied into the template also */

svg {
    filter: drop-shadow(2px 2px 4px rgba(209, 164, 79, 0.64));
    transition: all 0.3s ease-in-out 0s;
}

svg:hover,
svg:focus {
    transform: translateY(-6px);
    filter: drop-shadow(2px 8px 4px rgba(209, 164, 79, 0.64));
    color: var(--secondary);
}

.nav ul li a:hover,
.nav ul li a:focus {
    transition: all 0.3s ease-in-out 0s;
    transform: translateY(-6px);
}

.button {
    box-shadow: 2px 2px 4px rgba(209, 164, 79, 0.64);
    transition: all 0.3s ease-in-out 0.3s;
    cursor: pointer;
    outline: none;
    position: relative;
}

.button:hover,
.button:focus {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 2px 8px 4px rgba(209, 164, 79, 0.64);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}

.post-entry,
.post-tags li {
    transition: all .3s ease-in-out 0s;
    box-shadow: 2px 2px 4px rgba(209, 164, 79, 0.64);
}

.post-entry:hover,
.post-entry:focus,
.post-tags li:hover,
.post-tags li:focus {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 2px 8px 4px rgba(209, 164, 79, 0.64);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    transform: translateY(-6px);
}