<script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.1.7/src/glowCookies.min.js"></script>
<script>
    glowCookies.start('en', { 
        style: 1,
        analytics: {{ site.Config.Services.GoogleAnalytics.ID }}, 
        hideAfterClick: true,
        policyLink: 'https://google.es',
        bannerDescription: '</br>As I am a web developer, I use cookies to learn about how to make this site better, nothing sinister.</br></br>However, feel free to disable them here.</br></br>',
        bannerLinkText: 'Read Cookie policy',
        bannerHeading: '<h2>Cookies</h2>',
        acceptBtnText: 'Accept Cookies',
        acceptBtnColor: '#097969',
        acceptBtnBackground: '#ECFFDC',
        rejectBtnText: 'Reject Cookies',
        rejectBtnBackground: ' 	#E34234',
        rejectBtnColor: '#880808'
    });
</script>